.purple{
  color: #a76df1;
}

.green{
  color: #02a243;
}

.yellow{
  color: #c38003;
}

.lightyellow{
  color: #ffce72;
}

.lightgrey{
  color: #bfbfbf;
}

.blue{
  color: #929aff;
}

.lightblue{
  color: #03b9c3;
}

.sandbox{
   color: #83ff82;
}

.reality{
   color: #ff1353;
}

.btn-yellow {
  background-color: #a26b02;
}
