.board {
  padding: 30px;
  background: rgb(57,57,57);
  background: linear-gradient(0deg, rgba(57,57,57,1) 0%, rgba(22,22,22,1) 100%);
  border-radius: 0.20rem;
  border-right: 4px double black;
  border-top: 4px double black;
}

